/* DEFAULTS
----------------------------------------------------------*/

body   
{
    background: Blue;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: Blue;
}
