<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <client>
            <!--address - 服务地址-->
            <!--binding - 通信方式-->
            <!--contract - 服务契约-->
            <!--bindingConfiguration - 指定相关的绑定配置-->
            <!--behaviorConfiguration - 指定相关的行为配置-->
            <!--endpoint address="http://localhost:3502/ServiceHost/Message/Mtom.svc" binding="wsHttpBinding" contract="MessageSvc.Mtom.IMtom" bindingConfiguration="MtomBindingConfiguration" behaviorConfiguration="MtomEndpointBehavior" /-->
            <endpoint address="http://localhost:3502/ServiceHost/Message/Mtom.svc" binding="wsHttpBinding" contract="MessageSvc.Mtom.IMtom" bindingConfiguration="MtomBindingConfiguration" />

            <endpoint address="http://localhost:8888/ServiceHost/Message/Reliable.svc" binding="wsHttpBinding" contract="MessageSvc.Reliable.IReliable" bindingConfiguration="ReliableBindingConfiguration" />
        </client>
        <bindings>
            <wsHttpBinding>
                <!--messageEncoding - 指定用 MTOM 还是 Text 对 SOAP 消息编码-->
                <!--sendTimeout - 在传输引发异常之前可用于完成写入操作的时间间隔-->
                <binding name="MtomBindingConfiguration" messageEncoding="Mtom" sendTimeout="00:10:00">
                    <!--maxArrayLength - 配额控制：允许的最大数组长度-->
                    <readerQuotas maxArrayLength="1073741824" />
                </binding>

                <binding name="ReliableBindingConfiguration">
                    <!--reliableSession - 对可靠会话绑定元素属性的设置-->
                    <!--enabled - 指示是否在通道终结点之间建立 WS-RM (WS-ReliableMessaging) 可靠会话。默认值为 false-->
                    <!--ordered - 该值指示消息传递是否必须保持与消息发送一致的顺序（如果设置为true，那么也需要在相应的接口或类上声明DeliveryRequirements）-->
                    <!--inactivityTimeout - 服务在关闭之前保持非活动状态的时间间隔-->
                    <reliableSession enabled="true" ordered="true" inactivityTimeout="00:10:00" />
                    <!--security - 与此绑定一起使用的安全设置-->
                    <!--mode="None" - 禁用安全性-->
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <behaviors>
            <endpointBehaviors>
                <behavior name="MtomEndpointBehavior">
                    <!--clientVia - 创建传输通道的 URI （tcpTrace抓soap的时候用）-->
                    <clientVia viaUri="http://localhost:8888/ServiceHost/Message/Mtom.svc" />
                </behavior>
            </endpointBehaviors>
        </behaviors>
    </system.serviceModel>
</configuration>
