.button {
	/* appearance */
	background-color: #3f3f3f;
	background-image: -moz-linear-gradient(
		top,
		rgba(255,255,255,0.0) 0%,
		rgba(255,255,255,0.1) 50%);
	
	background-image: -webkit-gradient(
		linear, left top, left bottom,
		color-stop(100%,rgba(255,255,255,0.0)),
		color-stop(50%,rgba(255,255,255,0.1)));
	border: 1px solid #000000;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 0 rgba(139,139,139,1) inset, 0 1px 0 rgba(88,88,88,1);
	-moz-box-shadow: 0 1px 0 rgba(139,139,139,1) inset, 0 1px 0 rgba(88,88,88,1);
	box-shadow: 0 1px 0 rgba(139,139,139,1) inset, 0 1px 0 rgba(88,88,88,1);
	cursor: pointer;
	
	/* position */
	display: inline-block;
	margin: 10px;
	
	/* size */
	padding: 0 10px;
	
	/* text */
	color: #eaeaea;
	font-size: 12px;
	line-height: 30px;
	text-decoration: none;
	white-space: nowrap;
	}
.button:hover {
	/* appearance */
	background-color: #6495ed;
	-webkit-box-shadow: 0 0 3px #6495ed;
	-moz-box-shadow: 0 0 3px #6495ed;
	box-shadow: 0 0 3px #6495ed;
	}