<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Data Source=192.168.1.100;Initial Catalog=XL;User ID=sa;Password=allen"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>        
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <authenticationService enabled="true"
           requireSSL = "true"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.serviceModel>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    <protocolMapping>
      <add scheme="http" binding="wsHttpBinding"/>
    </protocolMapping>
  </system.serviceModel>   
</configuration>
