<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <!--描述绑定-->
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBindConfig" closeTimeout="00:30:00"
                openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00"
                transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
                hostNameComparisonMode="StrongWildcard" listenBacklog="10"
                maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="10"
                maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647"
                          maxStringContentLength="2147483647"
                          maxArrayLength="2147483647"
                          maxBytesPerRead="2147483647"
                          maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true"  inactivityTimeout="00:01:00" enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign"></transport>
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <!--描述服务-->
    <services>
      <service name="XL.Service.WFService" behaviorConfiguration="WFServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:10023/Service1.svc"/>
          </baseAddresses>
        </host>
        <endpoint address="" contract="XL.Service.IWFService" binding="netTcpBinding" bindingConfiguration="netTcpBindConfig" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <!--描述行为-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="WFServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="6553600"/>
          <serviceDiscovery></serviceDiscovery>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>
