* { margin: 0; padding: 0 }

		a:focus { outline:none }
		
		img { border: 0 }
		
		h3 { margin-bottom: 5px; padding-bottom: 3px; text-align: left }
		
		body {	
			
			color: #000;
			width: 100%;
			margin: auto;
			text-align: center;
			padding-bottom: 20px;
		}
		
		.stripViewer .panelContainer .panel ul {
			text-align: left;
			margin: 0 15px 0 30px;
		}
		
		.slider-wrap { /* This div isn't entirely necessary but good for getting the side arrows vertically centered */
			margin: 10px 0;
			position: relative;
			width: 100%;
		}

		/* These 2 lines specify style applied while slider is loading */
		.csw {width: 100%; height: 480px; background: #fff; overflow: scroll}
		.csw .loading {margin: 200px 0 300px 0; text-align: center}

		.stripViewer { /* This is the viewing window */
			position: relative;
			overflow: hidden; 
			border: 1px solid #9cf; /* this is the border. should have the same value for the links */
			margin: auto;
			width: 560px; /* Also specified in  .stripViewer .panelContainer .panel  below */
			height: 265px;
			clear: both;				    
		}
		
		.stripViewer .panelContainer { /* This is the big long container used to house your end-to-end divs. Width is calculated and specified by the JS  */
			position: relative;
			left: 0; top: 0;
			width: 100%;
			list-style-type: none;
			/* -moz-user-select: none; // This breaks CSS validation but stops accidental (and intentional - beware) panel highlighting in Firefox. Some people might find this useful, crazy fools. */
		}
		
		.stripViewer .panelContainer .panel { /* Each panel is arranged end-to-end */		    
			float:left;
			height: 100%;
			position: relative;
			width: 560px; /* Also specified in  .stripViewer  above */
		}
		
		.stripViewer .panelContainer .panel .wrapper { /* Wrapper to give some padding in the panels, without messing with existing panel width */
			padding: 10px;
		}
		
		.stripNav { /* This is the div to hold your nav (the UL generated at run time) */
			margin: auto;
		}
		
		.stripNav ul { /* The auto-generated set of links */
			list-style: none;
		}
		
		.stripNav ul li {
			float: left;
			margin-right: 2px; /* If you change this, be sure to adjust the initial value of navWidth in slideviewer.js */
		}
		
		.stripNav a { /* The nav links */
			font-size: 12px;
			font-weight: bold;		    
			text-align: center;
			line-height: 32px;
			background: #DDEFFD;
			color: #496896;
			text-decoration: none;
			display: block;
			padding: 0 10px;
		}
		
		.stripNav a:hover {
			background: #496896;
			color: #ffffff;
		}
		
		.stripNav a.current {
			background: #496896;
			color: #ffffff;
		}
		
		.stripNavL, .stripNavR { /* The left and right arrows */
			position: absolute;
			top: 230px;
			text-indent: -9000em;
		}
		
		.stripNavL a, .stripNavR a {
			display: block;
			height: 40px;
			width: 40px;
		}
		
		.stripNavL {
			left: 0;
			
		}	

		.stripNavR {
			right: 0;
			
		}
		.Title {
			margin-top: 5px; 
			margin-bottom: 0px; 
			font-size: 12pt;
			font-family: ו; 
			font-weight: bold
		}
		.WarnTitle {		
	        border:3px solid #bed6e0; 
	        font-size: 13pt;
			font-family: ו;
	        width:805px;	        
	        margin: 0 auto;
			position: relative;    
		}