<?xml version="1.0"?>
<configuration>
    <system.serviceModel>

        <!--
            1、如果没有显示配置 endpoint，那么 WCF 会根据 baseAddresses 生成一个默认 endpoint
            2、如果显示配置了 endpoint，那么 WCF 在默认情况下不会根据 baseAddresses 生成默认 endpoint
            3、如果需要强制为每个 baseAddresses 生成默认 endpoint，那么只要调用 ServiceHost.AddDefaultEndpoints() 方法即可（即使显示地指定 endpoint 也会生成默认的 endpoint）
            
            本例生成的默认 endpoint 的配置如下：
            A: http://localhost:1122/
            B: basicHttpBinding
            C: ServiceLib.IDemo
        -->
        <services>
            <service name="ServiceLib.Demo">
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:1122/"/>
                    </baseAddresses>
                </host>
            </service>
        </services>

        <!--
            根据协议类型，指定其所对应的默认 Binding
        -->
        <protocolMapping>
            <add scheme="http" binding="basicHttpBinding"/>
            <add scheme="net.tcp" binding="netTcpBinding"/>
            <add scheme="net.pipe" binding="netNamedPipeBinding"/>
            <add scheme="net.msmq" binding="netMsmqBinding"/>
        </protocolMapping>

        <!--
            WCF 应用程序的默认 Behavior 配置
        -->
        <behaviors>
            <serviceBehaviors>
                <behavior>
                    <serviceMetadata httpGetEnabled="true"/>
                    <serviceDebug includeExceptionDetailInFaults="true"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>

        <!--
            WCF 应用程序的默认 Binding 配置
        -->
        <bindings>
            <basicHttpBinding></basicHttpBinding>
            <webHttpBinding></webHttpBinding>
            <wsHttpBinding>
                <binding>
                    <security mode="Message">
                        <transport clientCredentialType="None"></transport>
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
    </system.serviceModel>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>