<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="ESRI.ArcGIS.DataSourcesFile" publicKeyToken="8FC3CC631E44AD86" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.2.3.1380" newVersion="9.2.3.1380"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ESRI.ArcGIS.GeoAnalyst" publicKeyToken="8FC3CC631E44AD86" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.2.3.1380" newVersion="9.2.3.1380"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ESRI.ArcGIS.DataSourcesRaster" publicKeyToken="8FC3CC631E44AD86" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.2.3.1380" newVersion="9.2.3.1380"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ESRI.ArcGIS.Display" publicKeyToken="8FC3CC631E44AD86" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.2.3.1380" newVersion="9.2.3.1380"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ESRI.ArcGIS.Carto" publicKeyToken="8FC3CC631E44AD86" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.2.3.1380" newVersion="9.2.3.1380"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ESRI.ArcGIS.System" publicKeyToken="8FC3CC631E44AD86" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.2.3.1380" newVersion="9.2.3.1380"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ESRI.ArcGIS.DataSourcesNetCDF" publicKeyToken="8FC3CC631E44AD86" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.2.3.1380" newVersion="9.2.3.1380"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ESRI.ArcGIS.GlobeCore" publicKeyToken="8FC3CC631E44AD86" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.2.3.1380" newVersion="9.2.3.1380"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ESRI.ArcGIS.Geoprocessing" publicKeyToken="8FC3CC631E44AD86" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.2.3.1380" newVersion="9.2.3.1380"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ESRI.ArcGIS.SystemUI" publicKeyToken="8FC3CC631E44AD86" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.2.3.1380" newVersion="9.2.3.1380"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ESRI.ArcGIS.Controls" publicKeyToken="8FC3CC631E44AD86" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.2.3.1380" newVersion="9.2.3.1380"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ESRI.ArcGIS.Geodatabase" publicKeyToken="8FC3CC631E44AD86" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.2.3.1380" newVersion="9.2.3.1380"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ESRI.ArcGIS.Server" publicKeyToken="8FC3CC631E44AD86" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.2.3.1380" newVersion="9.2.3.1380"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ESRI.ArcGIS.GISClient" publicKeyToken="8FC3CC631E44AD86" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.2.3.1380" newVersion="9.2.3.1380"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ESRI.ArcGIS.NetworkAnalyst" publicKeyToken="8FC3CC631E44AD86" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.2.3.1380" newVersion="9.2.3.1380"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ESRI.ArcGIS.3DAnalyst" publicKeyToken="8FC3CC631E44AD86" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.2.3.1380" newVersion="9.2.3.1380"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ESRI.ArcGIS.Animation" publicKeyToken="8FC3CC631E44AD86" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.2.3.1380" newVersion="9.2.3.1380"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ESRI.ArcGIS.GeoDatabaseDistributed" publicKeyToken="8FC3CC631E44AD86" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.2.3.1380" newVersion="9.2.3.1380"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ESRI.ArcGIS.GeoDatabaseExtensions" publicKeyToken="8FC3CC631E44AD86" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.2.3.1380" newVersion="9.2.3.1380"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ESRI.ArcGIS.Output" publicKeyToken="8FC3CC631E44AD86" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.2.3.1380" newVersion="9.2.3.1380"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ESRI.ArcGIS.Geometry" publicKeyToken="8FC3CC631E44AD86" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.2.3.1380" newVersion="9.2.3.1380"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
