/*Telerik RadGrid Web20 Skin*/

/*global*/

.RadGrid_ServiceDirect
{
    border:1px solid #4e75b3;
    background:#fff;
    color:#000;
}

.RadGrid_ServiceDirect,
.RadGrid_ServiceDirect .rgMasterTable,
.RadGrid_ServiceDirect .rgDetailTable,
.RadGrid_ServiceDirect .rgGroupPanel table,
.RadGrid_ServiceDirect .rgCommandRow table,
.RadGrid_ServiceDirect .rgEditForm table,
.RadGrid_ServiceDirect .rgPager table,
.GridToolTip_ServiceDirect
{
    font:12px/16px "segoe ui",arial,sans-serif;
}

.RadGrid_ServiceDirect .rgHeader:first-child,
.RadGrid_ServiceDirect th.rgResizeCol:first-child,
.RadGrid_ServiceDirect .rgFilterRow>td:first-child,
.RadGrid_ServiceDirect .rgRow>td:first-child,
.RadGrid_ServiceDirect .rgAltRow>td:first-child
{
	border-left-width:0;
	padding-left:8px;
}

.RadGrid_ServiceDirect .rgAdd,
.RadGrid_ServiceDirect .rgRefresh,
.RadGrid_ServiceDirect .rgEdit,
.RadGrid_ServiceDirect .rgDel,
.RadGrid_ServiceDirect .rgFilter,
.RadGrid_ServiceDirect .rgPagePrev,
.RadGrid_ServiceDirect .rgPageNext,
.RadGrid_ServiceDirect .rgPageFirst,
.RadGrid_ServiceDirect .rgPageLast,
.RadGrid_ServiceDirect .rgExpand,
.RadGrid_ServiceDirect .rgCollapse,
.RadGrid_ServiceDirect .rgSortAsc,
.RadGrid_ServiceDirect .rgSortDesc,
.RadGrid_ServiceDirect .rgUpdate,
.RadGrid_ServiceDirect .rgCancel,
.RadGrid_ServiceDirect .rgUngroup,
.RadGrid_ServiceDirect .rgExpXLS,
.RadGrid_ServiceDirect .rgExpDOC,
.RadGrid_ServiceDirect .rgExpPDF,
.RadGrid_ServiceDirect .rgExpCSV
{
	background-image:url('Grid/sprite.gif');
}

/*header*/

.RadGrid_ServiceDirect .rgHeaderDiv
{
	background:#537ab8 0 -7050px repeat-x url('Grid/sprite.gif');
}
.rgTwoLines .rgHeaderDiv
{
	background-position:0 -6550px;
}

.RadGrid_ServiceDirect .rgHeader,
.RadGrid_ServiceDirect th.rgResizeCol
{
	border:1px solid;
	border-color:#fff #6e8ec2 #204582 #355a99;
	border-top-width:0;
	background:0 -2300px repeat-x #7fa5d7 url('Grid/sprite.gif');
}

.RadGrid_ServiceDirect th.rgSorted
{
	border-color:#fff #8eaad6 #204582 #204582;
	background-color:#c0d5ee;
	background-position:0 -2600px;
}

.RadGrid_ServiceDirect .rgHeader,
.RadGrid_ServiceDirect .rgHeader a
{
    color:#fff;
}

.RadGrid_ServiceDirect th.rgSorted,
.RadGrid_ServiceDirect th.rgSorted a
{
	color:#0f3789;
}

/*rows*/

.RadGrid_ServiceDirect .rgRow td,
.RadGrid_ServiceDirect .rgAltRow td,
.RadGrid_ServiceDirect .rgEditRow td,
.RadGrid_ServiceDirect .rgFooter td
{
	border-style:solid;
	border-width:0 1px 1px;
}

.RadGrid_ServiceDirect .rgRow td,
.RadGrid_ServiceDirect .rgAltRow td
{
	border-color:#fff #fff #cfd9e7 #829cbf;
}

.RadGrid_ServiceDirect .rgRow .rgSorted,
.RadGrid_ServiceDirect .rgAltRow .rgSorted
{
	border-bottom-color:#cfd9e7;
	background-color:#e3eeff;
}

.RadGrid_ServiceDirect .rgSelectedRow .rgSorted,
.RadGrid_ServiceDirect .rgActiveRow .rgSorted,
.RadGrid_ServiceDirect .rgHoveredRow .rgSorted,
.RadGrid_ServiceDirect .rgEditRow .rgSorted
{
	background-color:transparent;
}

.RadGrid_ServiceDirect .rgRow a,
.RadGrid_ServiceDirect .rgAltRow a,
.RadGrid_ServiceDirect .rgEditRow a,
.RadGrid_ServiceDirect .rgFooter a,
.RadGrid_ServiceDirect .rgEditForm a
{
	color:#0f3789;
}

.RadGrid_ServiceDirect .rgSelectedRow
{
    background:#cdffb1;
}
*+html .RadGrid_ServiceDirect .rgSelectedRow .rgSorted{background-color:#cdffb1}
* html .RadGrid_ServiceDirect .rgSelectedRow .rgSorted{background-color:#cdffb1}

.RadGrid_ServiceDirect .rgActiveRow,
.RadGrid_ServiceDirect .rgHoveredRow
{
    background:#e3eeff;
}
*+html .RadGrid_ServiceDirect .rgActiveRow .rgSorted,
*+html .RadGrid_ServiceDirect .rgHoveredRow .rgSorted{background-color:#e3eeff}
* html .RadGrid_ServiceDirect .rgActiveRow .rgSorted,
* html .RadGrid_ServiceDirect .rgHoveredRow .rgSorted{background-color:#e3eeff}

.RadGrid_ServiceDirect .rgEditRow
{
	background:#fff;
}
*+html .RadGrid_ServiceDirect .rgEditRow .rgSorted{background-color:#fff}
* html .RadGrid_ServiceDirect .rgEditRow .rgSorted{background-color:#fff}

.RadGrid_ServiceDirect .rgSelectedRow td,
.RadGrid_ServiceDirect .rgActiveRow td,
.RadGrid_ServiceDirect .rgHoveredRow td,
.RadGrid_ServiceDirect .rgEditRow td
{
	border-left-width:0;
	border-right-width:0;
	padding-left:8px;
	padding-right:8px;
}

.RadGrid_ServiceDirect .rgSelectedRow td,
.RadGrid_ServiceDirect .rgSelectedRow td.rgSorted
{
	border-bottom-color:#71bf25;
}

.RadGrid_ServiceDirect .rgActiveRow td,
.RadGrid_ServiceDirect .rgHoveredRow td,
.RadGrid_ServiceDirect .rgActiveRow td.rgSorted,
.RadGrid_ServiceDirect .rgHoveredRow td.rgSorted
{
	border-bottom-color:#b1caee;
}

.RadGrid_ServiceDirect .rgEditRow td,
.RadGrid_ServiceDirect .rgEditRow td.rgSorted
{
	border-color:#fff #fff #4e75b3 #fff;
}

.RadGrid_ServiceDirect .rgDrag
{
	background-image:url('Grid/rgDrag.gif');
}

/*footer*/

.RadGrid_ServiceDirect .rgFooterDiv,
.RadGrid_ServiceDirect .rgFooter
{
	background:#e3eeff;
}

.RadGrid_ServiceDirect .rgFooter td
{
	border-top-width:1px;
	border-color:#829cbf #e3eeff #fff #e3eeff;
}

/*status*/

.RadGrid_ServiceDirect .rgPager .rgStatus
{
	border:1px solid;
	border-color:#829cbf #8caabb #fff #8caabb;
	border-left-width:0;
}

.RadGrid_ServiceDirect .rgStatus div
{
	background-image:url('Common/loading_small.gif');
}

/*pager*/

.RadGrid_ServiceDirect .rgPager
{
	background:#e3eeff;
}

.RadGrid_ServiceDirect td.rgPagerCell
{
	border:1px solid;
	border-color:#829cbf #fff #fff;
	border-right-width:0;
}

.RadGrid_ServiceDirect .rgInfoPart
{
	color:#666;
}

.RadGrid_ServiceDirect .rgInfoPart strong
{
	color:#000;
}

.RadGrid_ServiceDirect .rgPageFirst
{
	background-position:0 -550px;
}
.RadGrid_ServiceDirect .rgPageFirst:hover
{
	background-position:0 -600px;
}
.RadGrid_ServiceDirect .rgPagePrev
{
	background-position:0 -700px;
}
.RadGrid_ServiceDirect .rgPagePrev:hover
{
	background-position:0 -750px;
}
.RadGrid_ServiceDirect .rgPageNext
{
	background-position:0 -850px;
}
.RadGrid_ServiceDirect .rgPageNext:hover
{
	background-position:0 -900px;
}
.RadGrid_ServiceDirect .rgPageLast
{
	background-position:0 -1000px;
}
.RadGrid_ServiceDirect .rgPageLast:hover
{
	background-position:0 -1050px;
}

.RadGrid_ServiceDirect .rgPager .rgPagerButton
{
	border-color:#00002a #00002a #000;
	background:#466abb repeat-x 0 -1550px url('Grid/sprite.gif');
	color:#fff;
	font:12px/12px "segoe ui",arial,sans-serif;
}

.RadGrid_ServiceDirect .rgNumPart a:hover,
.RadGrid_ServiceDirect .rgNumPart a:hover span,
.RadGrid_ServiceDirect .rgNumPart a.rgCurrentPage,
.RadGrid_ServiceDirect .rgNumPart a.rgCurrentPage span
{
	background:no-repeat url('Grid/sprite.gif');
}

.RadGrid_ServiceDirect .rgNumPart a
{
	color:#000;
}

.RadGrid_ServiceDirect .rgNumPart a:hover
{
	background-position:100% -1250px;
	color:#0f3789;
}

.RadGrid_ServiceDirect .rgNumPart a:hover span
{
	background-position:0 -1150px;
}

.RadGrid_ServiceDirect .rgNumPart a.rgCurrentPage,
.RadGrid_ServiceDirect .rgNumPart a.rgCurrentPage:hover
{
	background-position:100% -1450px;
	color:#0d202b;
}

.RadGrid_ServiceDirect .rgNumPart a.rgCurrentPage span,
.RadGrid_ServiceDirect .rgNumPart a.rgCurrentPage:hover span
{
	background-position:0 -1350px;
}

/*sorting, reordering*/

.RadGrid_ServiceDirect .rgHeader .rgSortAsc
{
	background-position:3px -247px;
	height:10px;
}

.RadGrid_ServiceDirect .rgHeader .rgSortDesc
{
	background-position:3px -197px;
	height:10px;
}

.RadGrid_ServiceDirect .rgSorted .rgSortAsc
{
	background-position:3px -147px;
}

.RadGrid_ServiceDirect .rgSorted .rgSortDesc
{
	background-position:3px -97px;
}

.GridReorderTop_ServiceDirect,
.GridReorderBottom_ServiceDirect
{
	background:0 0 no-repeat url('Grid/sprite.gif');
}

.GridReorderBottom_ServiceDirect
{
	background-position:0 -50px;
}

/*filtering*/

.RadGrid_ServiceDirect .rgFilterRow
{
	background:#537ab8;
}

.RadGrid_ServiceDirect .rgFilterRow td
{
    border:1px solid;
    border-top-width:0;
    border-color:#537ab8 #537ab8 #3c5c90;
}

.RadGrid_ServiceDirect .rgFilter
{
	background-position:0 -300px;
}

.RadGrid_ServiceDirect .rgFilter:hover
{
	background-position:0 -350px;
}

.RadGrid_ServiceDirect .rgFilterActive,
.RadGrid_ServiceDirect .rgFilterActive:hover
{
	background-position:0 -400px;
}

.RadGrid_ServiceDirect .rgFilterBox
{
	border:1px solid #4e75b3;
	font:12px "segoe ui",arial,sans-serif;
	color:#000;
}

/*filter context menu*/

.RadMenu_ServiceDirect .rgHCMClear,
.RadMenu_ServiceDirect .rgHCMFilter
{
	border-color:#0f1d48 #07112d #010615;
	background:#617fc5 center -23px repeat-x url('FormDecorator/ButtonSprites.gif');
	color:#fff;
	font-family:"segoe ui",arial,sans-serif;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}

.RadMenu_ServiceDirect .rgHCMClear:hover,
.RadMenu_ServiceDirect .rgHCMFilter:hover
{
	border-color:#3f5f94;
	background-position:center -67px;
	background-color:#c1d5ef;
	color:#0f3789;
}

/*context menu*/

.GridContextMenu_ServiceDirect .rmLeftImage
{
	background-image:url('Grid/contextMenu.gif');
}

.GridContextMenu_ServiceDirect .rgHCMSortAsc .rmLeftImage
{
	background-position:0 0;
}

.GridContextMenu_ServiceDirect .rgHCMSortDesc .rmLeftImage
{
	background-position:0 -40px;
}

.GridContextMenu_ServiceDirect .rgHCMUnsort .rmLeftImage
{
	background-position:0 -80px;
}

.GridContextMenu_ServiceDirect .rgHCMGroup .rmLeftImage
{
	background-position:0 -120px;
}

.GridContextMenu_ServiceDirect .rgHCMUngroup .rmLeftImage
{
	background-position:0 -160px;
}

.GridContextMenu_ServiceDirect .rgHCMCols .rmLeftImage
{
	background-position:0 -200px;
}

.GridContextMenu_ServiceDirect .rgHCMFilter .rmLeftImage
{
	background-position:0 -240px;
}

.GridContextMenu_ServiceDirect .rgHCMUnfilter .rmLeftImage
{
	background-position:0 -280px;
}

/*grouping*/

.RadGrid_ServiceDirect .rgGroupPanel
{
	border:0;
	border-bottom:1px solid #4e75b3;
	background:#e3eeff;
}

.RadGrid_ServiceDirect .rgGroupPanel td
{
	border:0;
	padding:3px;
	vertical-align:middle;
}

.RadGrid_ServiceDirect .rgGroupPanel td td
{
	padding:0;
}

.RadGrid_ServiceDirect .rgGroupPanel .rgSortAsc
{
	background-position:4px -144px;
}

.RadGrid_ServiceDirect .rgGroupPanel .rgSortDesc
{
	background-position:4px -94px;
}

.RadGrid_ServiceDirect .rgUngroup
{
	background-position:0 -6500px;
}

.RadGrid_ServiceDirect .rgGroupItem
{
	border:1px solid #4e75b3;
	background:#c6d8f2;
	color:#0f3789;
}

.RadGrid_ServiceDirect .rgGroupHeader
{
    background:#859bbc;
    font-size:1.1em;
    line-height:21px;
	color:#fff;
}

.RadGrid_ServiceDirect .rgGroupHeader td
{
    padding:0 8px;
}

.RadGrid_ServiceDirect td.rgGroupCol,
.RadGrid_ServiceDirect td.rgExpandCol
{
	background:#859bbc none;
	border-color:#859bbc;
}

.RadGrid_ServiceDirect .rgExpand
{
	background-position:5px -496px;
}

.RadGrid_ServiceDirect .rgCollapse
{
	background-position:3px -444px;
}

/*editing*/

.RadGrid_ServiceDirect .rgEditForm
{
	border-bottom:1px solid #829cbf;
}

.RadGrid_ServiceDirect .rgUpdate
{
	background-position:0 -1800px;
}

.RadGrid_ServiceDirect .rgCancel
{
	background-position:0 -1850px;
}

/*hierarchy*/

.RadGrid_ServiceDirect .rgDetailTable
{
	border-color:#4e75b3;
}

/*command row*/

.RadGrid_ServiceDirect .rgCommandRow
{
	background:#3b548c 0 -2099px repeat-x url('Grid/sprite.gif');
	color:#fff;
}

.RadGrid_ServiceDirect .rgCommandCell
{
	border:0;
	padding:0;
}

.RadGrid_ServiceDirect thead .rgCommandCell
{
	border-bottom:1px solid #6788be;
}

.RadGrid_ServiceDirect tfoot .rgCommandCell
{
	border-top:1px solid #6788be;
}

.RadGrid_ServiceDirect .rgCommandTable
{
	border:1px solid #243567;
}

.RadGrid_ServiceDirect .rgCommandTable td
{
	border:0;
	padding:2px 7px;
}

.RadGrid_ServiceDirect .rgCommandTable td td
{
	padding:0;
}

.RadGrid_ServiceDirect .rgCommandRow a
{
	color:#fff;
	text-decoration:none;
}

.RadGrid_ServiceDirect .rgAdd
{
	margin-right:3px;
	background-position:0 -1650px;
}

.RadGrid_ServiceDirect .rgRefresh
{
	margin-right:3px;
	background-position:0 -1600px;
}

.RadGrid_ServiceDirect .rgEdit
{
	background-position:0 -1700px;
}

.RadGrid_ServiceDirect .rgDel
{
	background-position:0 -1750px;
}

.RadGrid_ServiceDirect .rgExpXLS,
.RadGrid_ServiceDirect .rgExpDOC,
.RadGrid_ServiceDirect .rgExpPDF,
.RadGrid_ServiceDirect .rgExpCSV
{
	background-image:url('Grid/export.gif');
}

.RadGrid_ServiceDirect .rgExpXLS
{
	background-position:0 0;
}
.RadGrid_ServiceDirect .rgExpDOC
{
	background-position:0 -50px;
}
.RadGrid_ServiceDirect .rgExpPDF
{
	background-position:0 -100px;
}
.RadGrid_ServiceDirect .rgExpCSV
{
	background-position:0 -150px;
}

/*multirow select*/

.GridRowSelector_ServiceDirect
{
	background:#1346ad;
}

/*row drag n drop*/

.GridItemDropIndicator_ServiceDirect
{
    border-top:1px dashed #1346ad;
}

/*tooltip*/

.GridToolTip_ServiceDirect
{
	border:1px solid #4e75b3;
	padding:3px;
	background:#e3eeff;
	color:#000;
}

/*rtl*/

.RadGridRTL_ServiceDirect .rgHeader:first-child,
.RadGridRTL_ServiceDirect th.rgResizeCol:first-child,
.RadGridRTL_ServiceDirect .rgFilterRow>td:first-child,
.RadGridRTL_ServiceDirect .rgRow>td:first-child,
.RadGridRTL_ServiceDirect .rgAltRow>td:first-child
{
	border-left-width:1px;
	padding-left:7px;
}

.RadGridRTL_ServiceDirect .rgPageFirst
{
	background-position:0 -1000px;
}
.RadGridRTL_ServiceDirect .rgPageFirst:hover
{
	background-position:0 -1050px;
}
.RadGridRTL_ServiceDirect .rgPagePrev
{
	background-position:0 -850px;
}
.RadGridRTL_ServiceDirect .rgPagePrev:hover
{
	background-position:0 -900px;
}
.RadGridRTL_ServiceDirect .rgPageNext
{
	background-position:0 -700px;
}
.RadGridRTL_ServiceDirect .rgPageNext:hover
{
	background-position:0 -750px;
}
.RadGridRTL_ServiceDirect .rgPageLast
{
	background-position:0 -550px;
}
.RadGridRTL_ServiceDirect .rgPageLast:hover
{
	background-position:0 -600px;
}

.RadGridRTL_ServiceDirect .rgExpand
{
	background-position:-20px -496px;
}