/* RadSlider for ASP.NET AJAX Office2010Silver
 Skin */
.RadSlider_CustomerSlider .rslTrack
{
	border-color:#a4abb2;
}

/*base style overwrites*/
div.RadSlider_CustomerSlider, 
div.RadSlider_CustomerSlider .rslItem, 
div.RadSlider_CustomerSlider .rslLargeTick span 
{
	color: #8b9097;
}

div.RadSlider_CustomerSlider .rslHorizontal a.rslDraghandle
{
	width: 9px;
}
div.RadSlider_CustomerSlider .rslVertical a.rslDraghandle
{
	height: 9px;
}
/*base style overwrites end*/

.RadSlider_CustomerSlider .rslHorizontal a.rslHandle
{
	background-image: url('Slider/Handles.gif');
}

.RadSlider_CustomerSlider .rslHorizontal a.rslDraghandle
{
	background-image: url('Slider/DragHandle.gif');
}

.RadSlider_CustomerSlider .rslTop a.rslDraghandle
{
	background-image: url('Slider/DragHandleDown.gif');
}

.RadSlider_CustomerSlider .rslHorizontal .rslTrack
{
	background: url('Slider/TrackBgr.gif') repeat-x;
}

.RadSlider_CustomerSlider .rslHorizontal .rslSelectedregion
{
	background: url('Slider/SelectedRegionHorizontalBgr.gif') right top no-repeat;
}

/* vertical slider */
.RadSlider_CustomerSlider .rslVertical a.rslHandle
{
	background-image: url('Slider/HandlesVertical.gif');
}

.RadSlider_CustomerSlider .rslVertical .rslTrack
{
	background: url('Slider/TrackVerticalBgr.gif') repeat-y;
}

.RadSlider_CustomerSlider .rslVertical .rslSelectedregion
{
	background: url('Slider/SelectedRegionVerticalBgr.gif') left bottom no-repeat;
}

.RadSlider_CustomerSlider .rslVertical a.rslDraghandle
{
	background: url('Slider/DragVerticalHandle.gif') no-repeat;
}

.RadSlider_CustomerSlider .rslLeft a.rslDraghandle
{
	background: url('Slider/DragVerticalHandleRight.gif') no-repeat;
}

.RadSlider_CustomerSlider .rslItem,
.RadSlider_CustomerSlider .rslLargeTick span
{
	color:#333;
}

.RadSlider_CustomerSlider .rslItemsWrapper .rslItemSelected
{
	color:#000;
}

/* horizontal slider items */
.RadSlider_CustomerSlider .rslHorizontal .rslItem
{
	background-image: url('Slider/ItemHorizontalBgr.gif');
}

/* vertical slider items */
.RadSlider_CustomerSlider .rslVertical .rslItem
{
	background-image: url('Slider/ItemVerticalBgr.gif');
}

/* horizontal slider - TrackPosition=Top/Bottom */
.RadSlider_CustomerSlider .rslTop .rslSmallTick,
.RadSlider_CustomerSlider .rslBottom .rslSmallTick
{
	background-image: url('Slider/SmallChangeHorizontal.gif');
}

.RadSlider_CustomerSlider .rslTop .rslLargeTick,
.RadSlider_CustomerSlider .rslBottom .rslLargeTick
{
	background-image: url('Slider/LargeChangeHorizontal.gif');
}

/* vertical slider - TrackPosition=Left/Right */
.RadSlider_CustomerSlider .rslLeft .rslSmallTick,
.RadSlider_CustomerSlider .rslRight .rslSmallTick
{
	background-image: url('Slider/SmallChangeVertical.gif');
}

.RadSlider_CustomerSlider .rslLeft .rslLargeTick,
.RadSlider_CustomerSlider .rslRight .rslLargeTick 
{
	background-image: url('Slider/LargelChangeVertical.gif');
}

/* horizontal slider - TrackPosition=Center */
.RadSlider_CustomerSlider .rslMiddle .rslSmallTick
{
	background-image: url('Slider/SmallChangeMiddleHorizontal.gif');
}

.RadSlider_CustomerSlider .rslMiddle .rslLargeTick  
{
	background-image: url('Slider/LargeChangeMiddleHorizontal.gif');
}

/* vertical slider - TrackPosition=Center */
.RadSlider_CustomerSlider .rslCenter .rslSmallTick
{
	background-image: url('Slider/SmallChangeCenterVertical.gif');
}

.RadSlider_CustomerSlider .rslCenter .rslLargeTick
{
	background-image: url('Slider/LargelChangeCenterVertical.gif');
}





 div.RadSlider_CustomerSlider .rslDecrease {

	background-image: url('ImageHandler.ashx?mode=get&suite=aspnet-ajax&control=Slider&skin=CustomerSlider&file=ball.png&t=8938976');

	width: 120px;

	height: 140px;

	margin-top: 0px;

	padding-top: 0px;

}

 div.RadSlider_CustomerSlider .rslIncrease {

	background-image: none;

}

 div.RadSlider_CustomerSlider .rslDraghandle {

	background-image: url('ImageHandler.ashx?mode=get&suite=aspnet-ajax&control=Slider&skin=CustomerSlider&file=Image1.png&t=8938976');

}

 div.RadSlider_CustomerSlider .rslSelectedregion {

	height: 123px;

	background-position: 100% 0%;

	width: 150123px;

	border-bottom-color: rgb(0, 161, 214);

	border-top-color: rgb(255, 0, 51);

}

 div.RadSlider_CustomerSlider .rslDecrease {

	background-color: transparent;

	border-top: 0px solid rgb(0, 161, 214);

	padding-top: 0px;

	margin-top: 0px;

	background-repeat: no-repeat;

	background-image: none;

}

 div.RadSlider_CustomerSlider .rslTrack {

	background-image: url('Slider/Level.png');

}

 div.RadSlider_CustomerSlider .rslSelectedregion {

	background-image: url('Slider/bgImg.png');

	width: 300px;

	height: 300px;

	background-repeat: repeat-x;

	padding-top: 0px;

	border-top-style: solid;

	border-top-width: 0px;

}

