<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!--复制-->
  <targets>
    <target name="console" xsi:type="ColoredConsole"
            layout="${date:format=HH\:mm\:ss}|${level}|${stacktrace}|${message}"/>
    <target name="file" xsi:type="File" fileName="${basedir}/${shortdate}.txt"
          layout="${stacktrace} ${message}"/>
    <target xsi:type="Database"
      connectionString="data source=192.0.0.206;initial catalog=MWDatabase;integrated security=False;User ID=sa;Password=sqlserver;"
      dbProvider="System.Data.SqlClient"
      keepConnection="true"
      useTransactions="true"
      name="Database"
      commandText="INSERT INTO [tblActionLog]
                      ([ActionLogID]
                      ,[TimeStamp]
                      ,[Level]
                      ,[Message]
                      ,[Logger]
                      ,[Exception]
                      ,[StackTrace])
                VALUES
                      (NEWID(),
                      @TimeStamp,
                      @Level,
                      @Message,
                      @Logger,
                      @Exception,
                      @StackTrace)">

        <parameter name="@TimeStamp" layout="${longdate}"/>
        <parameter name="@Logger" layout="${logger}"/>
        <parameter name="@Message" layout="${message}"/>
        <parameter name="@Level" layout="${level}"/>
        <parameter name="@Exception" layout="${exception:format=Message,StackTrace}"/>
        <parameter name="@StackTrace" layout="${stacktrace}"/>
      </target>
  </targets>

  <rules>
    <logger name ="ConsoleApplication1.Program" writeTo ="Database" xsi:type="NLogLoggerRule"/>
    <logger name="ConsoleApplication1.Program" minlevel="Debug" writeTo="file"/>

  </rules>
</nlog>
