<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="WCFService.WCFServiceBehavior" name="WCFService.WCFService" >
        <endpoint 
          address="WCFService" 
          binding="wsHttpBinding" 
          bindingConfiguration="BindingConfigration"
          contract="WCFService.IWCFService">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8001/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WCFService.WCFServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceCredentials>
              <serviceCertificate  storeName="My"  x509FindType="FindBySubjectName" findValue="WCFServerPK" storeLocation="LocalMachine"/>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
    <wsHttpBinding>
      <binding name="BindingConfigration">
        <security mode="Message">
          <transport clientCredentialType="None"/>
          <message clientCredentialType="UserName" negotiateServiceCredential="true" establishSecurityContext="true"/>
        </security>
      </binding>
    </wsHttpBinding>
    </bindings>

  </system.serviceModel>
</configuration>