<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="SOABehavior"></behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="endPointBehavior"></behavior>
			</endpointBehaviors>
		</behaviors>
		<services>
			<service name="SOASerivces.LogServices" behaviorConfiguration="SOABehavior">
				<endpoint address="http://127.0.0.1:8866/LogServices" binding="wsHttpBinding" contract="SOAContracts.ILog" behaviorConfiguration="endPointBehavior"></endpoint>
			</service>
		</services>
	</system.serviceModel>
</configuration>