<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WCF.ServiceLib.Properties.Settings.DatabaseConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\WCF\ServiceLib\Database.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>